/* ------ GLOBAL STYLES ------ */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");
:root {
  --color1: #d87d4a;
  --color2: #fbaf85;
  --color3: #101010;
  --color4: #f1f1f1;
  --color5: #fafafa;
  --color6: #191919;
  --color7: #4c4c4c;
  --black: #000000;
  --white: #ffffff;
  --borderTopStyle: 1px solid #474747;
  --marginBetweenComponents: 120px auto;
  --marginTopBetweenComponents: 120px;
  --paddingMobile: 0 24px;
  --cardBorderRadius: 8px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background-color: var(--white);
  height: 100%;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  height: 100%;
}
.marginBetweenComponents {
  margin: var(--marginBetweenComponents);
}
.overline {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 19px;
  letter-spacing: 10px;
  color: var(--color1);
}
.subtitle {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--color1);
}
.container {
  padding: 0;
}
@media only screen and (max-width: 575px) {
  .container {
    padding: var(--paddingMobile);
  }
}
/* ------ My classes -Start- ------*/
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hCentered {
  display: flex;
  justify-content: center;
}
.vCentered {
  display: flex;
  align-items: center;
}
.image_centered {
  background-position: center center / cover no-repeat;
}

/*------ My classes -End- ------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 5.6rem;
  line-height: 58px;
  letter-spacing: 2px;
}
h2 {
  font-size: 4rem;
  line-height: 44px;
  letter-spacing: 1.5px;
}
h3 {
  font-size: 3.2rem;
  line-height: 36px;
  letter-spacing: 1.15px;
}
h4 {
  font-size: 2.8rem;
  line-height: 38px;
  letter-spacing: 2px;
}
h5 {
  font-size: 2.4rem;
  line-height: 33px;
  letter-spacing: 1.7px;
}
h6 {
  font-size: 1.8rem;
  line-height: 24px;
  letter-spacing: 1.3px;
}
p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 25px;
}

/* ------ GLOBAL STYLES ------ */
